* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  position: relative;
  background-color: rgb(97 186 195 / 30%);
  color: black;
}

html {
  height: 100%;
}

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  z-index: 2;
  border-bottom: 1px solid white;
  grid-template-columns: 1fr 22fr 2fr 2fr 2fr;
  padding: 0.75rem 2rem;
  /* padding-right: 2rem; */
  background-color: rgb(0 0 0 / 0.1);
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav .nav-link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0 0.5rem;
}

.main-nav .nav-link:hover {
  color: #666;
  text-decoration: underline;
}

#logo {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 4rem;
}

#logo img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  /* box-shadow: 0px 0px 2px 4px white; */
}

.welcome__message p {
  margin-top: 1rem;
  font-size: 1.125rem;
  padding-left: 0.25rem;
}

.hero-image {
  height: 90vh;
  position: relative;
}
.hero-image .hero-image {
  filter: blur(0.375rem);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.introduction {
  position: absolute;
  z-index: 2;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 0 7vw;
  transform: translateY(-50%);
  /* height: 100%; */
}
.introduction .message {
  color: white;
  font-family: "Lato", sans-serif;
}
.introduction .kishore {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgb(255 255 255 / 29%) 11px 14px 47px;
}

.message .greeting__message {
  font-weight: 300;
}
.greeting__message h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 5rem;
}
.mera-smiley {
  font-family: initial;
  margin-left: 0.5rem;
}
.greeting__message h3 {
  font-size: 4rem;
  font-weight: 200;
}
.subfooter {
  position: relative;
  text-align: center;
  color: white;
  display: grid;
  justify-content: center;
  grid-template-columns: 80px 80px 80px 80px;
  padding: 20px 20px;
  top: 98vh;
  font-size: 20px;
  background-color: rgb(0 0 0 / 0.2);
}

.Copyright {
  display: flex;
  justify-content: center;
  font-size: 15px;
  position: relative;
  bottom: 0px;
  top: 95vh;
  justify-self: center;
  color: white;
  margin-left: 11px;
}

/*------------------------------ Contact form ------------------------------*/

.contact-form {
  position: sticky;
  right: 50%;
  left: 35%;
  top: 25%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 0;
}

/* section.contact-form {
    box-shadow: rgb(255 255 255 / 29%) 11px 14px 47px;
    border: 1px solid white;
} */

.contact-title {
  margin: auto;
  width: 380px;
  padding: 5px 0px;
  border-radius: 8px 8px 0px 0px;
  background-color: rgb(0 0 0 / 0.3);
  border-bottom: 1px solid #fff;
}

.contact-title h2 {
  text-align: center;
  color: #ede;
  letter-spacing: 2px;
}

.name-contact {
  margin: auto;
  width: 380px;
  padding-top: 20px;
  background: #fff;
  background-color: rgb(0 0 0 / 0.3);
  color: white;
}

.message-contact {
  margin: auto;
  width: 380px;
  padding-top: 15px;
  background: #fff;
  background-color: rgb(0 0 0 / 0.3);
  color: white;
}

.box-size {
  margin-left: 5%;
  width: 90%;
  height: 30px;
  font-size: 14px;
  border: 0px;
  border-radius: 4px;
  border: 0.2px solid #d0d0d0;
  background: #e2e2e2;
}

.submit-size {
  margin-left: 5%;
  width: 90%;
  height: 50px;
  font-size: 18px;
  border: 0px;
}
textarea {
  font-family: inherit;
  font-size: inherit;
  resize: vertical;
}

label {
  padding-left: 21px;
}
.submit-contact {
  margin: auto;
  width: 380px;
  padding-top: 10px;
  border-radius: 0px 0px 8px 8px;
  background: #fff;
  text-align: center;
  background-color: rgb(0 0 0 / 0.3);
}

.msg-size {
  margin-left: 5%;
  width: 89%;
  height: 100px;
  font-size: 14px;
  border-radius: 4px;
  border: 0.2px solid #d0d0d0;
  background: #e2e2e2;
}

.submit-button {
  color: #fff;
  background: rgb(0 0 0 / 0.3);
  font-size: 15px;
  letter-spacing: 1.4px;
  font-family: Arial;
  border: 0px;
  border-radius: 8px;
  padding: 6px 21px;
  width: 23%;
  height: 90%;
  cursor: pointer;
}
